<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HPPMDotNetCore.MvcApp</title>
   
    <partial name="_Styles"/>

    @RenderSection("css", required: false)

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HPPMDotNetCore.MvcApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="List">Blog-List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PieChart" asp-action="CreatePieChart">Create-Pie-Chart</a>
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   <div class="page-wrapper chiller-theme toggled mb-5">
        <partial name="_MainNavigation" />
        <main role="main" class="pb-3 page-content">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HPPMDotNetCore.MvcApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

   <partial name="_Scripts"/>
    @RenderSection("scripts", required: false)
   <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
       
        getOrderCount();

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        connection.on("RecieveOrderCount", function (data) {
            var result = JSON.parse(data);
            showOrderCount(result.count);
            //bindPieChart(data.Series, data.Labels);
        });
        
        connection.start().then(function () {
            //document.getelementbyid("sendbutton").disabled = false;
        }).catch(function (err) {
            return console.error(err.tostring());
        });

        function getOrderCount(){
            $.ajax({
              type: "GET",
              url: "/ProductOrder/GetOrderCount",
              success: function(data){
                 showOrderCount(data);
              },
              error: function(){
                  alert("Error");
              }
            });
        }

        function showOrderCount(count){
            if(count > 0){
                 $('#orderCount').text(count);
                 $('#eCommerce').text(count);
            }else{
                $('#orderCount').text('');
                 $('#eCommerce').text('');
            }
        }
        
    </script>

</body>
</html>
